body {
  font-family: sans-serif;
  background: #FFEBA1;
  margin: 0;
}
.container-titulo-iconos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 1px;
  background-color: #6F69AC;
  margin-bottom: 20px;
}
.container-iconos {
  margin-bottom: 10px;
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 890px) {
  .container-titulo-iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 110px;
  }
  .container-iconos {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    width: 50%;
  }
}
.fab {
    display: inline;
  }
  .react {
    color: rgb(0 220 255);
  }
  .angular {
    color: rgb(255 141 0);
  }
  .pyton {
    color: rgba(0, 162, 255, 0.541);
  }
  .javascript {
    color: rgb(247, 247, 17);
  }
  .node {
    color: rgb(122 230 77);

  }
  

h1 {
  text-align: left;
  color: black;
}
.subtitulo {
  display: flex;
  justify-content: center;
}
h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  margin-top: 20px;
  font-weight: 500;
  /* color: #fff; */
}

section {
  display: flex;
  justify-content: center;
}
.formulario {
  width: 90%;
  margin-bottom: 30px;
}
form {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  margin: auto;
  padding: 20px;
  color: #fff;
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}
@media (min-width: 890px) {
  form {
    width: 70%;
  }
  .formulario {
    background-color: transparent;
  }
}

label {
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
}

input {
  margin-bottom: 25px;
  margin-top: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
  width: 100%;
}
.enviar {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="submit"] {
  margin-top: 5rem;
  background-color: #95DAC1;
  border: none;
  width: 6rem;
  justify-content: center;
  border-radius: 5px;

  color: black;
}

input[type="radio"] {
  width: 15px;
}
input[type="submit"]:hover {
  background: rgb(49, 40, 40);
  cursor: pointer;
  color: #fff;
}

select {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: rgb(207, 213, 226);
  font-size: 13px;
}
option {
  font-size: 15px;
  background: #fff;
}

select:hover {
  background: #99a8b2;
}

.parrafo {
  color: black;
}
.label1 {
  width: 100%;
}
.label2 {
  width: 100%;
}
#experiencia {
  background-color: #fff;
  margin-top: 15px;
}
input[type="checkbox"] {
  width: 20px;
}
.input-check-notificaciones{
 padding: 10px;
 text-align: center;
}

